@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel
@{
}

<div class="text-center">
    <form method="POST">

        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" required placeholder="Marca" asp-for="Bus.marca">
        @* <span class="text-danger" asp-validation-for="Bus.marca"></span> <br> *@
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" required placeholder="Modelo" asp-for="Bus.modelo">
        <label for="kilometraje" class="form-label">Kilometraje:</label>
        <input type="number" class="form-control" required placeholder="Kilometraje" asp-for="Bus.kilometraje">
        <label for="numero_asientos" class="form-label">Numero de asientos:</label>
        <input type="number" class="form-control" required placeholder="Numero de asientos"
            asp-for="Bus.numero_asientos">

        <label for="placa" class="form-label">Placa:</label>
        <input type="text" class="form-control" required placeholder="Placa" asp-for="Bus.placa">

        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
