@page
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Tiempo estimado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>centro</td>
            <td>terminal</td>
            <td>25</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>terminal</td>
            <td>estadio</td>
            <td>20</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>estadio</td>
            <td>centro</td>
            <td>15</td>
        </tr>

    </tbody>
</table>